.admin-home {
   height: 80vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-size: 28px;
}

.admin-home p {
   padding: 5px;
   font-weight: 700;
}

.admin-home table {
   width: 85%;
   height: 10%;
   padding: 5px;
}

.admin-home table thead th {
   background-color: #787C74;
   border-bottom: 1px solid #DDD;
}

.admin-home table tbody tr{
   padding: 10px;
}

.admin-home table tbody tr:nth-child(odd) {
   background-color: #282c34;
}

.admin-home table tbody tr:nth-child(even) {
   background-color: #484C54;
}

.admin-home table tbody tr:hover {
   background-color: #787C74;
}

.admin-home table tr td {
   display: flex;
   align-items: center;
   padding: 10px;
}

.admin-home table tr td .model-name {
   flex: 3;
   display: flex;
   align-items: center;
}

.admin-home table tr td .model-actions {
   flex: 1;
   display: flex;
   justify-content: center;
   align-items: center;
}

.admin-home table tbody tr td .model-name a {
   text-decoration: none;
   color: #DDD;
   font-size: 20px;
   font-weight: 500;
   cursor: pointer;
}

.admin-home table tbody tr td .model-actions a {
   display: flex;
   justify-content: center;
   align-items: center;
   text-decoration: none;
   color: #DDD;
   font-size: 20px;
   font-weight: 700;
   width: 100%;
   cursor: pointer;
}

.admin-home table tbody tr td a:hover {
   color: #282c34;
}

.admin-home table tbody tr td .model-actions svg {
   padding: 2px;
}

.admin-home table tbody tr td .model-actions .add {
   display: flex;
   align-items: center;
   font-size: 20px;
   cursor: pointer;
}

.admin-home table tbody tr td .model-actions .add:hover {
   color: #282c34;
}

.admin-home .background {
   width: 100vw;
   height: 100vh;
   position: fixed;
   top: 0;
   left: 0;
   background-color: rgba(0, 0, 0, 0.5);
   display: flex;
   align-items: center;
   justify-content: center;
}

.admin-home .background .modal {
   width: 90%;
   min-height: 200px;
   background-color: #383c44;
   position: relative;
   border-radius: 20px;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.admin-home .background .modal .header {
   top: 0;
   display: flex;
   width: 100%;
   height: 60px;
   border-top-left-radius: inherit;
   border-top-right-radius: inherit;
   background-color: #585C54;
   align-items: center;
   justify-content: center;
}

.admin-home .background .modal .body {
   padding: 10px;
}

.admin-home .background .modal .header .close {
   position: absolute;
   top: 10px;
   right: 10px;
   width: 40px;
   height: 40px;
   border: none;
   cursor: pointer;
   border-radius: 20px;
   background-color: #484c54;
   color: #DDD;
}

.admin-home .background .modal .header .close:hover {
   background-color: #787C74;
}

.admin-home .background .header .close svg {
   width: 100%;
   height: 100%;
}

.admin-home .background .modal .body .add-users-form {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 5px;
}

.admin-home .background .modal .body .add-users-form div {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 6px;
   width: 100%;
}

.admin-home .background .modal .body .add-users-form div p {
   flex: 1;
   text-align: right;
}

.admin-home .background .modal .body .add-users-form div input {
   flex: 2;
   margin: 5px;
   height: 24px;
   border-radius: 5%;
   padding: 3px;
   font-size: 28px;
}

.admin-home .background .modal .body .add-users-form .send-button {
   cursor: pointer;
   padding: 10px;
   margin: 20px 0px 10px 0px;
   background-color: green;
   border-color: green;
   border-radius: 20px;
   font-size: 28px;
   color: #DDD;
}

.admin-home .background .modal .body .add-users-form .send-button:hover {
   background-color: #DDD;
   border-color: green;
   color: green;
}

.admin-home .background .modal .body .add-admins-form {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 5px;
}

.admin-home .background .modal .body .add-admins-form div {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 6px;
   width: 100%;
}

.admin-home .background .modal .body .add-admins-form div p {
   flex: 1;
   text-align: right;
}

.admin-home .background .modal .body .add-admins-form div input {
   flex: 2;
   margin: 5px;
   height: 24px;
   border-radius: 5%;
   padding: 3px;
   font-size: 28px;
}

.admin-home .background .modal .body .add-admins-form .send-button {
   cursor: pointer;
   padding: 10px;
   margin: 20px 0px 10px 0px;
   background-color: green;
   border-color: green;
   border-radius: 20px;
   font-size: 28px;
   color: #DDD;
}

.admin-home .background .modal .body .add-admins-form .send-button:hover {
   background-color: #DDD;
   border-color: green;
   color: green;
}

.admin-home .background .modal .body .add-contacts-form {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 5px;
}

.admin-home .background .modal .body .add-contacts-form div {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 6px;
   width: 100%;
}

.admin-home .background .modal .body .add-contacts-form div p {
   flex: 1;
   text-align: right;
}

.admin-home .background .modal .body .add-contacts-form div select {
   flex: 2;
   margin: 5px;
   border-radius: 5%;
   padding: 10px;
   font-size: 20px;
   cursor: pointer;
}

.admin-home .background .modal .body .add-contacts-form .send-button {
   cursor: pointer;
   padding: 10px;
   margin: 20px 0px 10px 0px;
   background-color: green;
   border-color: green;
   border-radius: 20px;
   font-size: 28px;
   color: #DDD;
}

.admin-home .background .modal .body .add-contacts-form .send-button:hover {
   background-color: #DDD;
   border-color: green;
   color: green;
}




.admin-home .background .modal .body .add-profiles-form {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 5px;
}

.admin-home .background .modal .body .add-profiles-form div {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 6px;
   width: 100%;
}

.admin-home .background .modal .body .add-profiles-form .name-lastname input {
   width: 75%;
   font-size: 28px;
}

.admin-home .background .modal .body .add-profiles-form .username p,
.admin-home .background .modal .body .add-profiles-form .password p,
.admin-home .background .modal .body .add-profiles-form .email p, 
.admin-home .background .modal .body .add-profiles-form .photo p {
   flex: 1;
   text-align: right;
}

.admin-home .background .modal .body .add-profiles-form .username input,
.admin-home .background .modal .body .add-profiles-form .password input,
.admin-home .background .modal .body .add-profiles-form .email input, 
.admin-home .background .modal .body .add-profiles-form .photo input  {
   flex: 2;
   margin: 5px;
   height: 24px;
   border-radius: 5%;
   padding: 3px;
   font-size: 28px;
}

.admin-home .background .modal .body .add-profiles-form .photo input {
   padding-bottom: 10px;
}

.admin-home .background .modal .body .add-profiles-form .photo input::file-selector-button {
   border: 2px solid #6c5ce7;
   border-radius: 0.2em;
   background-color: #a29bfe;
   transition: 1s;
   cursor: pointer;  
}

.admin-home .background .modal .body .add-profiles-form .send-button {
   cursor: pointer;
   padding: 10px;
   margin: 5px 0px 5px 0px;
   background-color: green;
   border-color: green;
   border-radius: 20px;
   font-size: 22px;
   color: #DDD;
}

.admin-home .background .modal .body .add-profiles-form .send-button:hover {
   background-color: #DDD;
   border-color: green;
   color: green;
}