.admin-users {
   height: 80vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-size: 24px;
}

.admin-users p {
   padding: 5px;
   font-weight: 700;
   font-size: 28px;
}

.admin-users table {
   width: 80%;
   height: 10%;
   padding: 5px;
}

.admin-users table thead th {
   background-color: #787C74;
   border-bottom: 1px solid #DDD;
   padding: 10px;
}

.admin-users table tbody {
   display: block;
   max-height: 180px;
   overflow-y: scroll;
}

.admin-users table thead, .admin-users table tbody tr {
   display: table;
   width: 100%;
   table-layout: fixed;
}

.admin-users table tbody tr:nth-child(odd) {
   background-color: #282c34;
}

.admin-users table tbody tr:nth-child(even) {
   background-color: #484C54;
}

.admin-users table tbody tr:hover {
   background-color: #787C74;
}

.admin-users table tr td {
   display: flex;
   align-items: center;
   padding: 10px;
}

.admin-users table tr td .user {
   flex: 6;
}

.admin-users table tr td .edit,
.admin-users table tr td .delete {
   margin: 0px 10px 0px 10px;
   display: flex;
   align-items: center;
   color: #DDD;
   font-size: 22px;
   font-weight: 500;
   cursor: pointer;
}

.admin-users table tbody tr td .user {
   display: flex;
}

.admin-users table tbody tr td .user p {
   color: #DDD;
   font-size: 24px;
   font-weight: 500;
   cursor: pointer;
}

.admin-users table tbody tr td .user p:hover,
.admin-users table tbody tr td .edit:hover,
.admin-users table tbody tr td .delete:hover {
   color: #282c34;
}

.admin-users table tbody tr td .edit svg, 
.admin-users table tbody tr td .delete svg {
   padding: 2px;
}