.login {
   height: 80vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-size: 28px;
}

#title-login {
   padding: 10px;
}

#login {
   cursor: pointer;
   background-color: green;
   border-color: green;
   border-radius: 20px;
   font-size: 28px;
   width: 20%;
   padding: 5px;
   color: #DDD;
}

#login:hover {
   background-color: #DDD;
   border-color: green;
   color: green;
}

.button-container-login {
   margin: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
}

.fields-login label {
   margin: 15px;
}

.fields-login input {
   height: 40%;
   width: 60%;
   border-radius: 5%;
   padding: 8px;
   margin-left: 15px;
   font-size: 28px;
}

.fields-login {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}