{% extends 'base.html' %}
{% block title %}
   Admin Home
{% endblock %}
{% block head %}
   <link rel="stylesheet" href="{{ url_for('static', filename='css/Admin/home.css') }}">
{% endblock %}
{% block body %}
   <div class="admin-home">
      <p>Administrative Site</p>
      <table>
         <thead>
            <tr><th>Models</th></tr>
         </thead>
         <tbody>
            <tr>
               <td>
                  <div class="model-name">
                     <a href="{{ url_for('admin.users') }}">Users</a>
                  </div>
                  <div class="model-actions">
                     <p class="add" id="add-users">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                           <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                        </svg>
                        Add
                     </p>
                     <p>
                        <a href="{{ url_for('admin.users') }}">
                           <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                              <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                           </svg>
                           Edit
                        </a>
                     </p>
                  </div>
               </td>
            </tr>
            <tr>
               <td>
                  <div class="model-name">
                     <a href="{{ url_for('admin.profiles') }}">Profiles</a>
                  </div>
                  <div class="model-actions">
                     <p class="add" id="add-profiles">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                           <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                        </svg>
                        Add
                     </p>
                     <p>
                        <a href="{{ url_for('admin.profiles') }}">
                           <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                              <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                           </svg>
                           Edit
                        </a>
                     </p>
                  </div>
               </td>
            </tr>
            <tr>
               <td>
                  <div class="model-name">
                     <a href="{{ url_for('admin.contacts') }}">Contacts</a>
                  </div>
                  <div class="model-actions">
                     <p class="add" id="add-contacts">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                           <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                        </svg>
                        Add
                     </p>
                     <p>
                        <a href="{{ url_for('admin.contacts') }}">
                           <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                              <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                           </svg>
                           Edit
                        </a>
                     </p>
                  </div>
               </td>
            </tr>
         </tbody>
      </table>
      <table>
         <thead>
            <tr><th>Admin</th></tr>
         </thead>
         <tbody>
            <tr>
               <td>
                  <div class="model-name">
                     <a href="{{ url_for('admin.admins') }}">Admins</a>
                  </div>
                  <div class="model-actions">
                     <p class="add" id="add-admins">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                           <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                        </svg>
                        Add
                     </p>
                     <p>
                        <a href="{{ url_for('admin.admins') }}">
                           <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                              <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                           </svg>
                           Edit
                        </a>
                     </p>
                  </div>
               </td>
            </tr>
         </tbody>
      </table>
   </div>
   <script>
      const csrf_token  = "{{ csrf_token() }}";
      const addUsersURL = "{{ url_for('admin.add_user') }}";
      const addContactsURL = "{{ url_for('admin.add_contact') }}";
      const getUsersURL = "{{ url_for('admin.get_users') }}";
      const addAdminsURL = "{{ url_for('admin.add_admin') }}";
   </script>
   <script src="{{ url_for('static', filename='js/add-users.js') }}"></script>
   <script src="{{ url_for('static', filename='js/add-profiles.js') }}"></script>
   <script src="{{ url_for('static', filename='js/add-contacts.js') }}"></script>
   <script src="{{ url_for('static', filename='js/add-admins.js') }}"></script>
{% endblock %}