.contacts {
   height: 80vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-size: 25px;
}

.contacts h1 {
   font-size: 40px;
}

.contacts table {
   padding: 10px 0px 30px 0px;
   width: 80%;
}

.contacts table tbody {
   display: block;
   max-height: 190px;
   overflow-y: scroll;
   overflow-x: hidden;
}

.contacts table thead, .contacts table tbody tr {
   display: table;
   width: 100%;
   table-layout: fixed;
}

.contacts table th {
   border-bottom: 1px solid #DDD;
}

.contacts table th {
   font-weight: 600;
   padding: 10px 45px 10px 45px;
}

.contacts table thead #left {
   text-align: left;
}

.contacts table thead #center {
   text-align: center;
}

.contacts table tbody .email {
   text-align: center;
}

.contacts .add-contact {
   cursor: pointer;
   width: 20%;
   padding: 10px;
   background-color: green;
   border-color: green;
   border-radius: 20px;
   font-size: 28px;
   color: #DDD;
}

.contacts .add-contact:hover {
   background-color: #DDD;
   border-color: green;
   color: green;
}

.contacts table tbody tr {
   padding: 10px;
   cursor: pointer;
}

.contacts table tbody tr:hover {
   background-color: #787C74;
}

@media (max-height: 600px) {
   .contacts {
      font-size: 16px;
      padding: 20px 0px 0px 0px;
   }
   
   .contacts h1 {
      font-size: 24px;
   }
   
   .contacts table {
      width: 92%;
   }

   .contacts table tbody {
      max-height: 220px;
   }

   .contacts .add-contact {
      font-size: 18px;
      width: 60%;
   }
}