.edit-profile form {
   display: flex;
   flex-direction: column;
   align-items: center;
   font-size: 28px;
}

.edit-profile form p {
   font-weight: 800;
   padding-right: 10px;
}

.edit-profile form input {
   margin: 5px;
   height: 24px;
   border-radius: 5%;
   padding: 3px;
   font-size: 28px;
}

.edit-profile .name-lastname input {
   width: 210px;
}

.edit-profile .name-lastname {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 6px;
   width: 700px;
}

.edit-profile form .name-lastname .name,
.edit-profile form .name-lastname .lastname {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 0px 5px 0px 5px;
}

.edit-profile form .username,
.edit-profile form .old-password,
.edit-profile form .new-password,
.edit-profile form .email, 
.edit-profile form .photo {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 6px;
   width: 700px;
}

.edit-profile form .username p,
.edit-profile form .old-password p,
.edit-profile form .new-password p,
.edit-profile form .email p, 
.edit-profile form .photo p {
   flex: 1;
   text-align: right;
}

.edit-profile form .username input,
.edit-profile form .old-password input,
.edit-profile form .new-password input,
.edit-profile form .email input, 
.edit-profile form .photo input {
   flex: 2;
}

.edit-profile form .photo input {
   padding-bottom: 10px;
}

.edit-profile form .send-button {
   cursor: pointer;
   padding: 10px;
   background-color: green;
   border-color: green;
   border-radius: 20px;
   font-size: 28px;
   color: #DDD;
}

.edit-profile form .send-button:hover {
   background-color: #DDD;
   border-color: green;
   color: green;
}

.edit-profile form input::file-selector-button {
   border: 2px solid #6c5ce7;
   border-radius: 0.2em;
   background-color: #a29bfe;
   transition: 1s;
   cursor: pointer;  
}

.edit-profile form .info {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #486581;
   font-weight: 400;
   color: #BCCCDC;
   border-radius: 15px;
   border: 1px solid #BCCCDC;
   margin: 5px auto;
   padding: 10px;
   height: 12%;
   width: 80%;
   font-size: 25px;
}

.edit-profile form .error {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #8A1000;
   font-weight: 400;
   color: #FF6652;
   border-radius: 15px;
   border: 1px solid #FF6652;
   margin: 5px auto;
   padding: 10px;
   height: 12%;
   width: 80%;
   font-size: 25px;
}

.edit-profile form .success {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #017008;
   font-weight: 400;
   color: #00F02C;
   border-radius: 10px;
   border: 1px solid #00F02C;
   margin: 5px auto;
   padding: 10px;
   height: 12%;
   width: 70%;
   font-size: 28px;
}

.edit-profile form .error:before,
.edit-profile form .success:before,
.edit-profile form .info:before {
   font-family: Arial, Helvetica, sans-serif;
}

.edit-profile form .error .icon,
.edit-profile form .success .icon,
.edit-profile form .info .icon {
   width: 10%;
   vertical-align: middle;
   padding: 0px 7px 0px 7px;
}