.profile {
   height: 90vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-size: 28px;
}

.profile .data {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 15px;
}

.profile .data .data-image {
   padding: 10px;
}

.profile .data .data-image img {
   width: 240px;
   height: 240px;
   border-radius: 100%;
   border: 5px solid #787C74;
}

.profile .data .data-fields {
   padding: 20px;
}

.profile .data .data-fields .name-lastname {
   display: flex;
   justify-content: center;
   align-items: center;
}

.profile .data .data-fields .name-lastname div {
   padding: 0px 10px 0px 10px;
}

.profile .data .data-fields div p {
   padding: 0px 8px 0px 8px;
   font-weight: 800;
}

.profile .data .data-fields div {
   display: flex;
   justify-content: center;
   align-items: center;
}

.profile .data .data-fields .name-lastname, .profile .data .data-fields .email {
   padding: 15px;
}

.profile .edit {
   padding-left: 7px;
}

.profile .edit-profile-button {
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   padding: 10px;
   background-color: green;
   border-color: green;
   border-radius: 20px;
   font-size: 28px;
   color: #DDD;
}

.profile .edit-profile-button:hover {
   background-color: #DDD;
   border-color: green;
   color: green;
}

@media (max-height: 600px) {
   .profile {
      font-size: 16px;
   }
   
   .profile .data {
      padding: 5px;
      font-size: 18px;
   }

   .profile .data .data-image {
      padding: 4px;
   }

   .profile .data .data-image img {
      width: 160px;
      height: 160px;
   }

   .profile .data .data-fields {
      padding: 4px;
   }

   .profile .data .data-fields .name-lastname div {
      padding: 0px 2px 0px 2px;
   }

   .profile .data .data-fields div p {
      padding: 0px 4px 0px 4px;
   }

   .profile .data .data-fields .name-lastname, .profile .data .data-fields .email {
      padding: 15px 5px 15px 5px;
   }

   .profile .edit {
      width: 18px;
   }

   .profile .edit-profile-button {
      font-size: 18px;
   }
   
}