* {
  padding: 0;
  margin: 0;
}

html, body {
  background-color: #282c34;
  color: #DDD;
}

header {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  font-weight: 500;
  background-color: grey;
  height: 20%;
  vertical-align: middle;
}

header h1 {
  text-align: center;
  line-height: 150%;
  width: 15%;
}

header nav {
  width: 85%;
}

header nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  height: 100%;
}

header nav ul li {
  display: inline;
  list-style-type: none;
}

header a {
  text-decoration: none;
  color: #DDD;
  font-size: 25px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logout {
  text-decoration: none;
  color: #DDD;
  font-size: 25px;
  width: 8%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 10px 0px 10px;
  padding: 0px 12px 0px 12px;
}

header nav ul li a {
  margin: 0px 10px 0px 10px;
}

header nav ul li a:hover, .logout:hover {
  background-color: rgb(4, 112, 148);
}

.logout {
  cursor: pointer;
}

@media (max-height: 600px) {
  header h1 {
    width: 40%;
    line-height: 100%;
  }

  header nav {
    width: 60%;
  }

  header a {
    font-size: 12px;
  }
  
  .logout {
    width: 10%;
    margin: 0px 0px 0px 10px;
    padding: 0px 12px 0px 12px;
    font-size: 12px;
  }
}