<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
   <title>Contacts - {% block title %}{% endblock %}</title>
   {% block head %}{% endblock %}
</head>
<body>
   <header>
      <h1><a href="{{ url_for('admin.home') }}">Contacts App</a></h1>
      <nav>
         <ul>
            {% if current_user.is_authenticated %}
               <li><a href="{{ url_for('admin.admin_home') }}">Home</a></li>
               <li><a href="{{ url_for('admin.logout') }}">Logout</a></li>
            {% else %}
               <li><a href="{{ url_for('admin.home') }}">Home</a></li>
               <li><a href="{{ url_for('admin.login') }}">Login</a></li>
            {% endif %}
         </ul>
      </nav>
   </header>
   {% block body %}{% endblock %}
</body>
</html>